parameters:
  ModelBehaviorsExtension:
    behaviorPaths:
      - vendor/cakephp/cakephp/lib/Cake/Model/Behavior/*.php
      - lib/Cake/Model/Behavior/*.php
      - app/Plugin/*/Model/Behavior/*.php
      - app/Model/Behavior/*.php
  stubFiles:
    - stubs/Utility.php
services:
  - class: ARiddlestone\PHPStanCakePHP2\ComponentComponentsExtension
    tags:
      - phpstan.broker.propertiesClassReflectionExtension
  - class: ARiddlestone\PHPStanCakePHP2\ControllerComponentsExtension
    tags:
      - phpstan.broker.propertiesClassReflectionExtension
  - class: ARiddlestone\PHPStanCakePHP2\ControllerModelsExtension
    tags:
      - phpstan.broker.propertiesClassReflectionExtension
  - class: ARiddlestone\PHPStanCakePHP2\ModelBehaviorsExtension
    arguments:
      behaviorPaths: %ModelBehaviorsExtension.behaviorPaths%
    tags:
      - phpstan.broker.methodsClassReflectionExtension
parametersSchema:
  ModelBehaviorsExtension: structure([
    behaviorPaths: listOf(string())
  ])
