parameters:
  scanDirectories:
    - vendor/cakephp/cakephp
services:
  - class: ARiddlestone\PHPStanCakePHP2\ControllerComponentsExtension
    tags:
      - phpstan.broker.propertiesClassReflectionExtension
  - class: ARiddlestone\PHPStanCakePHP2\ControllerModelsExtension
    tags:
      - phpstan.broker.propertiesClassReflectionExtension
  - class: ARiddlestone\PHPStanCakePHP2\ModelBehaviorsExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension
